.header {
    width: 100%;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.header-content {
    width: 100%;
    max-width: 1200px;
    height: 70px; /* 화면에 맞게 가운데로 끌어오기 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu span {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.login-btn {
    background: #27456f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
}