/* 페이지 전체는 가운데로 */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    min-height: 100vh;
    font-family: "Noto Sans KR", sans-serif;
}

/* 로그인 및 회원가입 박스 */
.auth-box {
    width: 520px;
    background: white;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* 제목 */
.auth-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

/* 라벨 및 입력창 행 스타일 */
.form-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
    width: 100%; /* 전체 폭 */
}

/* 좌측 라벨 */
.form-label {
    width: 120px;
    margin-top: 13px;
    font-size: 15px;
    color: #333;
}

/* 우측 입력창 */
.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 비밀번호 유효성 메시지 */
.form-right .signup-mode {
    flex-direction: column;
    align-items: flex-start;
}

/* 입력하는 곳 */
.auth-input {
    width: 92%;
    padding: 12px 14px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* 입력칸 + 버튼 한 줄 */
.input-with-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 아이디 중복확인 버튼 */
.check-btn {
    padding: 12px 14px;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}

/* 주소 찾기 버튼 */
.address-btn {
    background: #efefef;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
}

/* 버튼 */
.auth-button {
    width: 100%;
    background: #0d2140;
    color: white;
    font-size: 17px;
    padding: 14px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.auth-button:hover {
    opacity: 0.9;
}



/* 유효성 확인하는 메시지 */
.valid {
    font-size: 12px;
    margin-left: 4px;
}

.valid.ok {
    color: #2f7d32;
}

.valid.error {
    color: #d10000;
}



/* 우측 정렬 : 아이디 / 비밀번호 찾기 */
.find-link-right {
    width: 100%;
    text-align: right;
    margin-top: 8px;
    font-size: 12px;
    color: #444;
    cursor: pointer;
}

/* 중앙 정렬 : 계정이 없나요? 회원가입 */
/* 중앙 정렬 : 이미 계정이 있나요? 로그인 */
.signup-center {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

.signup-center .go-signup,
.signup-center .go-login {
    color: #0d2140;
    font-weight: 600;
    cursor: pointer;
}