/* 지역 선택 전체 정렬 */
.region-selector .custom-select {
  display: flex;
  align-items: center;
}

/* 비활성화 select */
.region-selector .custom-select select:disabled {
  background: var(--color-bg-gray);
  color: var(--color-text-dark);
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}