@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 폰트 + 전체 레이아웃 */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-dark);
  line-height: 1.6;
}

/* 링크 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 버튼 기본 */
button {
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}


:root {
  /* Colors */
  --color-main: #1A2F4B;
  --color-main-hover: #15243A;

  --color-sub: #415472;
  --color-sub-hover: #34455A;

  --color-accent: #4A69BB;
  --color-accent-hover: #3C56A0;

  --color-green: #2ECC71;
  --color-green-hover: #27AE60;

  --color-red: #e5634f;
  --color-red-hover: #de442d;
  
  --color-white: #FFFFFF;

  --color-bg: #FFFFFF;
  --color-bg-gray: #F1F3F5;
  --color-bg-light: #F3F4F6;
  --color-bg-card: #F4F6F8;

  --color-text-dark: #333333;
  --color-text-light: #666666;
  --color-border: #E5E7EB;

  /* Font */
  --font-h1: 32px;
  --font-h2: 24px;
  --font-h3: 18px;
  --font-body: 16px;
  --font-caption: 14px;

  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Buttons */
    --btn-large-height: 48px;  /* border-radius: 6px, padding: 0 24px*/
    --btn-medium-height: 40px;
    --btn-small-height: 32px;  /* border-radius: 4px, padding: 0 12px*/
  
    --btn-radius-small: 16px;

  /* Layout */
  --layout-max-width: 1200px;


  /* Shadows */
  --shadow-card: 0 4px 12px rgba(0,0,0,0.05);
  --shadow-medium: 0 4px 16px rgba(0, 0, 0, 0.15);
  --shadow-strong: 0 8px 24px rgba(0, 0, 0, 0.20);
}
